.corazon {
    position: fixed;
    width: 1vw;
    height: 1vw;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 35%, 75% 100%, 25% 100%, 0% 35%);
    opacity: 0;
    animation: caer 4s infinite ease-in-out;
}
.imggg{
    width:50vh;
    height:50vh ;
}
.texto{
    font-family: "Dancing Script", serif;
    font-size: 4vw;
    font-weight: 700;
}
.grande{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes caer {
    0% {
        top: -20px;
        left: calc(100% * var(--random-x));
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        top: 100%;
        left: calc(100% * var(--random-x));
        opacity: 0;
    }
}